---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "71.202.24.103",
          "hostname": "c-71-202-24-103.hsd1.ca.comcast.net",
          "city": "San Mateo",
          "region": "California",
          "country": "US",
          "loc": "37.5550,-122.2687",
          "org": "AS7922 Comcast Cable Communications, Inc.",
          "postal": "94404"
        }
  recorded_at: Sun, 16 Aug 2015 00:47:36 GMT
recorded_with: VCR 2.9.3
